body{
  margin: 0px;
  padding: 0px;
  background-color: black;
  font-family: Arial;
  height: 100%;
}

#unfairfalls{
  width: 100vw;
  height: 100vh;
  background: url('https://unfairfalls.herokuapp.com/assets/img/start-menu.jpg');
  background-size: cover;
}

#start-menu {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu{
  height: 40px;
  border-style: none;
  border-radius: 2px;
  border: 1px solid #bbb;
  width: 258px;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial;

}
#username{
  text-align: center;
  margin-bottom: 10px;
}

#play{
  margin-top: 10px;
  background-color: dodgerblue;
  color: white;
  cursor: pointer;
  width: 262px;
}

.dd-select{
  height: 40px;
}

.dd-selected{
  background-color: white;
}

.dd-selected-text{
  padding-left: 20px;
  line-height: 0px !important;
}

.dd-option-text{
  padding-left: 20px;
  line-height: 0px !important;
}
